# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

# macOS
*.DS_Store

# VSC
.vscode/*

# Ignore `bin` dir
bin/
# or
*/bin/*